ansible/.password_file
ansible/.vscode
ansible/roles/geerlingguy.security
ansible/roles/mrlesmithjr.zfs
ansible/roles/xanmanning.k3s
ansible/roles/geerlingguy.mysql
obsidian/TuringPi/.obsidian
.vscode
.archived
